<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizApp</title>
    <style type="text/css">

        @font-face {
            font-family: Noto;
            src: url("NotoSans-Regular.ttf") format("opentype");
        }

        .webflex-row {
            display: -webkit-flex;
            -webkit-flex-flow: row;
        }

        .webflex-column {
            display: -webkit-flex;
            -webkit-flex-flow: column;
        }

        .game {
            font-family: Noto, Arial;
        }

        .game_top {
            min-height: 200px;
        }

        .question_answer-player {
            font-weight: bold;
            font-size: 30px;
        }

        .question_answer {
            -webkit-flex: 2;
            padding-left: 4%;
        }

        .question_answer-answer {
            padding: 5% 0 5% 0;
        }

        .question_answer-meta {
            color: grey;
        }

        .question_answer-question-left {
            -webkit-flex: 1;
            min-width: 100px;
        }

        .question_answer-question-right {
            -webkit-flex: 5;
            font-size: 125%;
        }

        .game_timer {
            -webkit-flex: 1;
            text-align: center;
        }

        .game_timer-title {
            -webkit-flex: 1;
        }

        .game_timer-time {
            font-size: 500%;
            -webkit-flex: 1;
        }

        .game_timer-message {
            -webkit-flex: 1;
        }

        .game_timer-button {
            -webkit-flex: 1;
            justify-content: center;
        }

        .game_timer-control {
            -webkit-flex: 1;
            max-width: 200px;
            margin: 2%;
            padding: 2%;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
        }

        .game_bottom {
            min-height: 400px;
        }

        .table_container {
            -webkit-flex: 1;
            min-width: 300px;
        }

        .table_container-player {
            -webkit-flex: 1;
            text-align: center;
            padding: 10% 0 10% 0;
        }

        .table_container-table_main {
            -webkit-flex: 1;
            background-color: gray;
            margin: 0 10% 0 10%;
        }

        .table-container-team {
            -webkit-flex: 1;
        }

        .table-container-table_head {
            -webkit-flex: 1;
            background-color: gray;
        }

        .table_container-bottom {
            min-height: 50px;
        }

        .game_summary_container {
            -webkit-flex: 1;
            min-width: 300px;
        }

        .game_summary {
            min-height: 300px;
        }

        .game_summary-team {
            -webkit-flex: 1;
        }

        .game_summary-title {
            -webkit-flex: 1;
            align-items: center;
            background-color: grey;
            color: white;
            padding-left: 5%;
        }

        .game_summary-players {
            -webkit-flex: 10;
        }

        .game_summary-player_container {
            -webkit-flex: 1;
            align-items: center;
            padding-left: 5%;
        }

        .game_summary-player {
            -webkit-flex: 1;
        }

        .game_summary-score {
            -webkit-flex: 1;
        }

        .player_profile {
            background-color: grey;
            border-radius: 1000px;
            padding: 10%;
            color: white;
            font-weight: bold;
            width: 20%;
            text-align: center;
            height: 10%;
            min-width: 30px;
            margin-left: 25%;
        }

        .player_profile_qm {
            margin-top: 10%;
            padding: 30%;
            margin-left: 0%;
        }

    </style>
</head>
<body>
<div id="main">{{{mainPlaceholder}}}</div>
</body>
<script src="app.min.js"></script>
</html>