<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuizApp</title>
    <style type="text/css">

        @font-face {
            font-family: Noto;
            src: url("NotoSans-Regular.ttf") format("opentype");
        }

        * {
            font-family: Noto, Arial;
        }

    </style>
</head>
<body>
<div id="main">{{{mainPlaceholder}}}</div>
</body>
<script src="app.min.js"></script>
</html>